<?xml version="1.0" encoding="utf-8" ?>
	<configuration>	
		<appSettings>
			<add key="servername" value="DESKTOP-LUK6BDU"/>
			<add key="username" value="sa"/>
			<add key="password" value="1"/>
			<add key="database" value="MAVAKLIMA"/>
			<add key="OTELKODU" value="OTEL0001"/>
			<add key="SUBEKODU" value="SUBE001"/>
		</appSettings>
	</configuration>